@model Sport.Models.SpordiViewModels.TreenerIndexData

@{
    ViewData["Title"] = "Treenerid";
}

<h1>Treenerid</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Perekonnanimi
            </th>
            <th>
                Eesnimi
            </th>
            <th>
                Palkamise KP
            </th>
            <th>
                 Asutused
            </th>
            <th>
                Spordialad
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Treeners)
        {
            string selectedRow = "";
            if (item.ID == (int?)ViewData["TreenerID"])
            {
                selectedRow = "success";
            }
        <tr class="@selectedRow">

            <td>
                @Html.DisplayFor(modelItem => item.Perekonnanimi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Eesnimi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PalkamiseKP)
            </td>
            <td>
                @if (item.AsutuseAssignment != null)
                {
                    @item.AsutuseAssignment.Location
                }
            </td>
            <td>
                @{
                    foreach (var spordiala in item.SpordialaAssignments)
                    {
                        @spordiala.Spordiala.SpordialaID @:  @spordiala.Spordiala.Nimi <br />
                    }
                }
            </td>
            <td>
                <a asp-action="Index" asp-route-id="@item.ID">Select</a> |
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
            }
        </tbody>
</table>
