@model IEnumerable<Sport.Models.Spordiala>

@{
    ViewData["Title"] = "Spordialad";
}

<h1>Spordialad</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SpordialaID)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Nimi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tulemused)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Osakond)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SpordialaID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nimi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tulemused)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Osakond.Nimi)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SpordialaID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SpordialaID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SpordialaID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
