@model IEnumerable<Sport.Models.Osakond>

@{
    ViewData["Title"] = "Osakonnad";
}

<h1>Osakonnad</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nimi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Eelarve)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AlgusKP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Administrator)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nimi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Eelarve)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AlgusKP)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.Administrator.Täisnimi)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.OsakondID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.OsakondID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.OsakondID">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
